<div [@routerTransition]>
    <app-collapse></app-collapse>
    <div class="page-header">
        <h1>Items in my shop</h1>
        <hr>
    </div>
    <div class="row">
        <div *ngFor="let item of products; let i = index" class="col-sm-4">

            <div class="card text-white bg-warning mb-3">
                <div class="card-header">{{item.name}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">
                        <img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt="" /> {{item.desc}}

                    </p>
                    <p> Price : {{item.price}}</p>
                    <button type="reset" class="btn btn-sm btn-secondary">update</button>
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
</div>