<div [@routerTransition]>
    <app-collapse></app-collapse>




    <div class="page-header">
        <h1>Items in my shop</h1>
        <hr>
    </div>
    <input #checkbox type="checkbox" /> Only Sold Items
    <div class="row">

        <ng-container *ngFor="let item of products; let i = index">

            <div *ngIf="filterSold(item,checkbox.checked)" class="col-sm-4">

                <div class="card text-white bg-warning mb-3">
                    <div mat-raised-button color="primary" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" class="card-header">{{item.name}}
                        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                            <mat-card style="max-width: 300px">
                                <mat-card-content>
                                    {{item.desc}}
                                </mat-card-content>
                            </mat-card>
                        </mde-popover>



                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.name}}</h4>
                        <p class="card-text">
                            <img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt="" /> {{item.desc}}

                        </p>
                        <p> Price : {{item.price}}</p>
                        <button type="reset" class="btn btn-sm btn-secondary" (click)="deleteProduct(item)">delete</button>
                    </div>
                </div>
            </div>

        </ng-container>
        <!-- /.col-sm-4 -->
    </div>
</div>