<div>
    
 
        <form role="form">
            <div class="card-header">Items in my card</div>
            
            <table class="card-body table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Shipping Address</th>
                    <th>Product</th>
                    <th>Ship</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of orders; let i = index">
                    <tr class="table-active">
                        <th scope="row">1</th>
                        <td>{{item.name}}</td>
                        <td>{{item.shipping}}</td>
                        <td>{{item.productName}}</td>
                        <td><button type="reset" class="btn btn-sm btn-secondary" (click)="proceedOrder(item._id, item.owner)">Ship</button></td>
                    </tr>
                </ng-container>
                </tbody>

            </table>
        </form>
   
</div>