<div fxLayout="row">
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
    <div fxFlex="90" fxFlex.gt-sm="80">
        <h1 class="header__title">{{'Products'}}</h1>
        <mat-progress-spinner *ngIf="!products"
                              class="progress__spinner"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div id="heroes-list" *ngIf="products">
            <ng-container *ngFor="let product of products">
                <mat-card class="hero-card">
                    <mat-card-header>
                        <div (click)="seeProductDetails(product)" mat-card-avatar class="hero-header__image"
                             [ngStyle]="{'background-image': 'url(assets/images/heroes/' + 1 + '-thumbnail.jpg)'}"></div>
                        <mat-card-title (click)="seeProductDetails(product)">{{product.name}}</mat-card-title>
                        <div class="flex-spacer"></div>
                    </mat-card-header>
                    <img (click)="seeProductDetails(product)" mat-card-image src="assets/images/heroes/1.jpg">
                </mat-card>
            </ng-container>
        </div>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
