<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">

            <h1>Login</h1>
            <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="login(loginForm.value)">
                <mat-form-field class="input-container">
                    <input matInput type="email"
                           placeholder="{{'email'}}"
                           formControlName="email">
                </mat-form-field>
                <mat-form-field class="input-container">
                    <input matInput type="password"
                           placeholder="{{'password'}}"
                           formControlName="password">
                </mat-form-field>

                <button mat-raised-button type="submit">
                    {{'Login'}}
                </button>

                <div *ngIf="error">{{error}}</div>
            </form>
        </div>
    </div>
</div>
