<div class="login-page" [@routerTransition]>
    <div class="">
        <div class="">

            <h1>Online shop</h1>
            <form [formGroup]="signupForm" #form="ngForm" (ngSubmit)="createUser(signupForm.value)">
                <mat-form-field class="input-container">
                    <input matInput type="text"
                           placeholder="{{'name'}}"
                           formControlName="name">
                </mat-form-field>

                <mat-form-field class="input-container">
                    <input matInput type="email"
                           placeholder="{{'email'}}"
                           formControlName="email">
                </mat-form-field>
                <mat-form-field class="input-container">
                    <input matInput type="password"
                           placeholder="{{'password'}}"
                           formControlName="password">
                </mat-form-field>

                <button mat-raised-button type="submit">
                    {{'Create'}}
                </button>

                <div *ngIf="error">{{error}}</div>
            </form>
        </div>
    </div>
</div>
