<div *ngIf="token">
    <nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <div class="list-group">

            <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp; Home</span>
            </a>
            <a [routerLink]="['/card']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp; Orders</span>
            </a>
            <a [routerLink]="['/myshop']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp; Shop</span>
            </a>
           
        </div>
    </nav>
</div>
