<div [@routerTransition]>
    
 
    <form role="form">
        <div class="card-header">Items in my card</div>
        
        <table class="card-body table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr class="table-success">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr class="table-info">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info">
                <b>Your revenue: </b>2054$
        </div>
     
            
    </form>

</div>