<div [@routerTransition]>


    
    <div class="page-header">
        <h1>Products in sale</h1>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" #searchbar (keyup)="search(searchbar.value)" type="text" placeholder="{{ 'Search' }}" >
            </form>
        <hr>
    </div>
    <div class="row">
            <ng-container *ngFor="let item of current_products; let i = index">

        <div  *ngIf='isDisplay(item,searchValue)'  class="col-sm-4"  >

                <div class="card text-white bg-warning mb-3">
                        <div class="card-header">{{item.name}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.description}}</h4>
                            <p class="card-text">
                                <img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt="" /> {{item.desc}}
                            </p>
                            <p class="card-text">
                            Price: {{item.price}}
                            </p>
                            <p class="card-text">
                                Status: {{item.status}}
                            </p>
                            <form [formGroup]="buyProductForm" #form="ngForm" (ngSubmit)="buyProduct(item, buyProductForm.value)">
                                <mat-form-field class="input-container">
                                    <input matInput type="text"
                                           placeholder="{{'name'}}"
                                           formControlName="name">
                                </mat-form-field>

                                <mat-form-field class="input-container">
                                    <input matInput type="email"
                                           placeholder="{{'address'}}"
                                           formControlName="shipping">
                                </mat-form-field>

                                <button mat-raised-button type="submit">
                                    {{'Buy'}}
                                </button>

                                <div *ngIf="error">{{error}}</div>
                            </form>
                        </div>
                    </div>
        </div>

    </ng-container>
        <!-- /.col-sm-4 -->
    </div>



</div>