<div [@routerTransition]>
    
    <div class="page-header">
      <h1>Products in sale</h1>
      <hr>
    </div>
  <div class="row">
      <div class="col-sm-4">
          <div class="card text-white bg-primary mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                  <p class="card-text">
                        <img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>  
                </div>
               
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card text-white bg-secondary mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <div class="card text-white bg-success mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Success card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card text-white bg-danger mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Danger card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <div class="card text-white bg-warning mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Warning card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card text-white bg-info mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Info card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <div class="card bg-light mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Light card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <div class="card text-white bg-dark mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Dark card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <div class="card mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                  <h4 class="card-title">Dark card title</h4>
                  <p class="card-text"><img class="img-thumbnail" width="100px" height="100px" src="http://placehold.it/400x400" alt=""/>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-sm btn-info">add to the card</button>
                  <button type="reset" class="btn btn-sm btn-secondary">remove from card</button>
                </div>
          </div>
      </div>
      <!-- /.col-sm-4 -->
  </div>
</div>
